.App {
  /* background-color: #FBFAFA; */
  padding: 16px
}

.white{
  background-color: #ffffff;

}
.mt-16{
  margin-top: 16px;
}

.mt-24{
  margin-top: 48px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root{
  background-color: #FBFAFA;
}

.body-1{
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
}


.body-2{
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.title-1{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.img-size-30{
  width: 30px;
  height: 30px;
}
.img-size-40{
  width: 40px;
  height: 40px;
}
.img-container{
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F3F3;
  border-radius: 5px;
}
.align-left{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}
.flex{
  display: flex;
  flex: 1;
}
.border-left{
  border-left: 1px solid #F2F3F3;
}